<section id="counts" class="counts">
    <div class="container " data-aos="fade-up">

      <div class="row">

        <div class="col-lg-3 col-md-6">
          <div class="count-box">
      <i><span class="material-symbols-outlined" style="color: rgb(248, 248, 248);" i18n>
        sentiment_satisfied
        </span></i>
            <span i18n>+ <span data-toggle="counter-up">250</span></span>
            <p i18n>Happy Clients</p>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 mt-5 mt-md-0">
          <div class="count-box">
             <i ><span class="material-symbols-outlined" style="color: rgb(248, 248, 248);">
folder_open
</span></i> 
            <span i18n>+ <span data-toggle="counter-up">2,000</span></span>
            <p i18n>Projects</p>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
          <div class="count-box">
           <i ><span class="material-symbols-outlined" style="color: rgb(248, 248, 248);">
support_agent
</span></i>
            <span i18n>+ <span data-toggle="counter-up">8</span></span>
            <p i18n>Years of experience</p>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
          <div class="count-box">
         <i> <span class="material-symbols-outlined" style="color: rgb(248, 248, 248);">
group
</span></i>
            <span i18n>+ <span data-toggle="counter-up">22</span></span>
            <p i18n>Hard Workers</p>
          </div>
        </div>

      </div>

    </div>
  </section>
