<section id="about" class="about section-bg">
    <div class="container aos-init" data-aos="fade-up">
      <div class="section-title">
        <h2>About</h2>
        <h3>
         More
          <span style="color: #128ea6">About Us</span>
        </h3>
        <p>titlee</p>
      </div>
  
      <div class="row">
      <div class="col-lg-6 aos-init" data-aos="zoom-out" data-aos-delay="100">
       <div class="image-slider">
  <img class="hm-img-txt" [src]="currentImage" alt="Sliding Image" />
</div>

        <!-- <div class="image-container">
          <img [src]="currentImage" alt="Slideshow image" />
        </div> -->
      </div>
        <div
          class="col-lg-6 pt-4 pt-lg-0 content d-flex flex-column justify-content-center aos-init"
          data-aos="fade-up"
          data-aos-delay="100"
        >
          <h3>titleabout</h3>
          <!-- <p class="font-italic">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
              magna aliqua.
            </p> -->
          <ul>
            <li>
              <i class="bx bx-store-alt">
                <span class="material-icons" style="font-size: 30px">
                  home
                </span></i
              >
              <div>
                <h5>
                  The company was established with a group of experts in all Technical Domain
                  
                </h5>
              </div>
            </li>
            <li>
              <i class="bx bx-store-alt">
                <span class="material-icons" style="font-size: 30px">
                  emoji_emotions
                </span></i
              >
              <div>
                <h5>
                  we are a pioneer in Technology 
               
                </h5>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  
