<section id="about" class="about section-bg">
    <div class="container aos-init" data-aos="fade-up">
      <div class="section-title">
        <h2 i18n>About</h2>
        <h3 i18n>
          Find Out More
          <span style="color: #128ea6">About Us</span>
        </h3>
      </div>
  
      <div class="row">
        <div class="col-lg-6 aos-init" data-aos="zoom-out" data-aos-delay="100">
         
          <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <!-- <ol class="carousel-indicators">
              <li data-target="#carouselExampleIndicators"  class="active"></li>
              <li data-target="#carouselExampleIndicators" ></li>
              <li data-target="#carouselExampleIndicators" ></li>
            </ol> -->
            <div class="carousel-inner">
              <div class="carousel-item active" >
                <img class="d-block w-100"  src="https://res.cloudinary.com/dqrorqtyj/image/upload/v1721136397/1_sjfa3s.jpg">
              </div>
              <div class="carousel-item">
                <img class="d-block w-100" src="https://res.cloudinary.com/dqrorqtyj/image/upload/v1721136391/31_hiowdi.jpg" alt="Second slide">
              </div>
              <div class="carousel-item">
                <img class="d-block w-100" src="https://res.cloudinary.com/dqrorqtyj/image/upload/v1721136387/10_ydsqn5.jpg" alt="Third slide">
              </div>
              <div class="carousel-item">
                <img class="d-block w-100" src="https://res.cloudinary.com/dqrorqtyj/image/upload/v1721136384/30_jzh5sa.jpg" alt="Second slide">
              </div>
              <div class="carousel-item">
                <img class="d-block w-100" src="https://res.cloudinary.com/dqrorqtyj/image/upload/v1721136380/28_vxsizj.jpg" alt="Third slide">
              </div>
              <div class="carousel-item">
                <img class="d-block w-100" src="https://res.cloudinary.com/dqrorqtyj/image/upload/v1721136376/21_ca2f1f.jpg" alt="Second slide">
              </div>
              <div class="carousel-item">
                <img class="d-block w-100" src="https://res.cloudinary.com/dqrorqtyj/image/upload/v1721136374/15_tuqzul.jpg" alt="Third slide">
              </div>
               <div class="carousel-item">
                <img class="d-block w-100" src="https://res.cloudinary.com/dqrorqtyj/image/upload/v1721136361/9_buxt6o.jpg" alt="Second slide">
              </div>
              <div class="carousel-item">
                <img class="d-block w-100" src="https://res.cloudinary.com/dqrorqtyj/image/upload/v1721136346/14_h2vxcq.jpg" alt="Third slide">
              </div>
               <div class="carousel-item">
                <img class="d-block w-100" src="https://res.cloudinary.com/dqrorqtyj/image/upload/v1721136325/7_faajk5.jpg" alt="Second slide">
              </div>
              <div class="carousel-item">
                <img class="d-block w-100" src="https://res.cloudinary.com/dqrorqtyj/image/upload/v1721136311/4_oxwidu.jpg" alt="Third slide">
              </div>   <div class="carousel-item">
                <img class="d-block w-100" src="https://res.cloudinary.com/dqrorqtyj/image/upload/v1721136346/14_h2vxcq.jpg" alt="Third slide">
              </div>
             
              <div class="carousel-item">
                <img class="d-block w-100" src="https://res.cloudinary.com/dqrorqtyj/image/upload/v1721136299/32_f7oib8.jpg" alt="Third slide">
              </div>   
               <div class="carousel-item">
                <img class="d-block w-100" src="https://res.cloudinary.com/dqrorqtyj/image/upload/v1721136288/2_nadpia.jpg" alt="Second slide">
              </div>
              <div class="carousel-item">
                <img class="d-block w-100" src="https://res.cloudinary.com/dqrorqtyj/image/upload/v1721136275/43_ttrkdp.jpg" alt="Third slide">
              </div>   <div class="carousel-item">
                <img class="d-block w-100" src="https://res.cloudinary.com/dqrorqtyj/image/upload/v1721136273/19_jxozv8.jpg" alt="Second slide">
              </div>
              <div class="carousel-item">
                <img class="d-block w-100" src="https://res.cloudinary.com/dqrorqtyj/image/upload/v1721136229/24_pqh5os.jpg" alt="Third slide">
              </div>
              


                <div class="carousel-item">
                <img class="d-block w-100" src="https://res.cloudinary.com/dqrorqtyj/image/upload/v1721136222/13_o933nh.jpg" alt="Second slide">
              </div>
              <div class="carousel-item">
                <img class="d-block w-100" src="https://res.cloudinary.com/dqrorqtyj/image/upload/v1721136219/17_r94m6t.jpg" alt="Third slide">
              </div>   <div class="carousel-item">
                <img class="d-block w-100" src="https://res.cloudinary.com/dqrorqtyj/image/upload/v1721136201/27_myrycf.jpg" alt="Second slide">
              </div>
             
                <div class="carousel-item">
                <img class="d-block w-100" src="https://res.cloudinary.com/dqrorqtyj/image/upload/v1721136185/46_sdeqog.jpg" alt="Second slide">
              </div>
              <div class="carousel-item">
                <img class="d-block w-100" src="https://res.cloudinary.com/dqrorqtyj/image/upload/v1721136160/18_zhikfp.jpg" alt="Third slide">
              </div>   <div class="carousel-item">
                <img class="d-block w-100" src="https://res.cloudinary.com/dqrorqtyj/image/upload/v1721136156/16_akgsxf.jpg" alt="Second slide">
              </div>
              <div class="carousel-item">
                <img class="d-block w-100" src="https://res.cloudinary.com/dqrorqtyj/image/upload/v1721136151/26_thl6av.jpg" alt="Third slide">
              </div>  <div class="carousel-item">
                <img class="d-block w-100" src="https://res.cloudinary.com/dqrorqtyj/image/upload/v1721136149/22_lhhmqk.jpg" alt="Second slide">
              </div>
              <div class="carousel-item">
                <img class="d-block w-100" src="https://res.cloudinary.com/dqrorqtyj/image/upload/v1721136142/3_aquci2.jpg" alt="Third slide">
              </div>   
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev" >
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>
        <div
          class="col-lg-6 pt-4 pt-lg-0 content d-flex flex-column justify-content-center aos-init"
          data-aos="fade-up"
          data-aos-delay="100"
        >
          <h3 i18n>A company specialized in all technical fields.it works using a specific approach to provide comprehensive services in the field of Advanced technology.</h3>
        
          <ul>
            <li>
              <i class="bx bx-store-alt">
                <span class="material-icons" style="font-size: 30px">
                  home
                </span></i
              >
              <div>
                <h5 i18n>
                  
                    The company was established with a group of experts in all Technical Domain
                  
                </h5>
              </div>
            </li>
            <li>
              <i class="bx bx-store-alt">
                <span class="material-icons" style="font-size: 30px">
                  emoji_emotions
                </span></i
              >
              <div>
                <h5 i18n>
                  
                    we are a pioneer in Technology , Networking &amp; programming
                
                </h5>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>