
<section id="clients" class="clients section-bg">
  <div class="container aos-init" data-aos="zoom-in">
    <div class="row">
      <swiper-container
        dir="rtl"
        space-between="30"
        slides-per-view="5"
        free-mode="true"
        autoplay="true"
              [autoplay]="{
                delay: 1200,
                disableOnInteraction: true
              }"
      >
        <swiper-slide
          role="group"
        aria-label="1 / 6"
          class="swiper-slide-active"
        >
          <div class="slide-content">
            <img src="https://res.cloudinary.com/dqrorqtyj/image/upload/v1721132469/swirkies_znchlu.jpg"class="client-image" />
            <!-- <a href="https://res.cloudinary.com/dqrorqtyj/image/upload/v1721131933/AKS_rxkpbm.jpg" class="client-image"></a> -->
          
          </div>
        </swiper-slide>
        <swiper-slide
          role="group"
        aria-label="1 / 6"
          class="swiper-slide-active"
        >
          <div class="slide-content">
            <img src="https://res.cloudinary.com/dqrorqtyj/image/upload/v1721132666/maaala_nyu3dm.jpg" class="client-image" />
          </div>
        </swiper-slide>
        <swiper-slide role="group" aria-label="2 / 6" class="swiper-slide-next">
          <div class="slide-content">
            <img src="https://res.cloudinary.com/dqrorqtyj/image/upload/v1721132696/Daaboul_onmvcs.jpg" class="client-image" />
          </div>
        </swiper-slide>
        <swiper-slide role="group" aria-label="3 / 6" class="swiper-slide-next">
          <div class="slide-content">
            <img src="https://res.cloudinary.com/dqrorqtyj/image/upload/v1721132707/images_1_mqxedd.png" class="client-image" />
          </div>
        </swiper-slide>
      
        <swiper-slide role="group" aria-label="5 / 6" class="swiper-slide-next">
          <div class="slide-content">
            <img src="https://res.cloudinary.com/dqrorqtyj/image/upload/v1721132765/client-2_cuev6s.png" class="client-image" />
          </div>
        </swiper-slide>
       
           <swiper-slide role="group" aria-label="9 / 6" class="swiper-slide-next">
          <div class="slide-content">
            <img src="https://res.cloudinary.com/dqrorqtyj/image/upload/v1721132772/client-3_xflkvi.png" class="client-image" />
          </div>
        </swiper-slide>
         <swiper-slide role="group" aria-label="6/ 6" class="swiper-slide-next">
          <div class="slide-content">
            <img src="https://res.cloudinary.com/dqrorqtyj/image/upload/v1721132774/client-4_plolr3.png" class="client-image" />
          </div>
        </swiper-slide>
        <swiper-slide role="group" aria-label="7 / 6" class="swiper-slide-next">
          <div class="slide-content">
            <img src="https://res.cloudinary.com/dqrorqtyj/image/upload/v1721132776/%D9%85%D9%83%D8%A7%D9%86%D9%8A_shnsim.jpg" class="client-image" />
          </div>
        </swiper-slide>
        <swiper-slide role="group" aria-label="8 / 6" class="swiper-slide-next">
          <div class="slide-content">
            <img src="https://res.cloudinary.com/dqrorqtyj/image/upload/v1721132775/%D9%85%D8%AC%D8%AF_%D8%AF%D8%B1%D9%88%D9%8A%D8%B4_j8oyon.png" class="client-image" />
          </div>
        </swiper-slide>
        <swiper-slide role="group" aria-label="9 / 6" class="swiper-slide-next">
          <div class="slide-content">
            <img src="https://res.cloudinary.com/dqrorqtyj/image/upload/v1721132934/client-6_l0rle5.png" class="client-image" />
          </div>
        </swiper-slide>
           <swiper-slide role="group" aria-label="9 / 6" class="swiper-slide-next">
          <div class="slide-content">
            <img src="https://res.cloudinary.com/dqrorqtyj/image/upload/v1721132936/EXA_luxg3d.png" class="client-image" />
          </div>
        </swiper-slide>
          <swiper-slide role="group" aria-label="9 / 6" class="swiper-slide-next">
          <div class="slide-content">
            <img src="https://res.cloudinary.com/dqrorqtyj/image/upload/v1721132937/%D9%87%D9%8A%D9%83_%D8%B4%D9%8A_ejr0gz.jpg" class="client-image" />
          </div>
        </swiper-slide>
          <swiper-slide role="group" aria-label="9 / 6" class="swiper-slide-next">
          <div class="slide-content">
               <img src="https://res.cloudinary.com/dqrorqtyj/image/upload/v1721133028/%D8%B4%D8%B1%D9%83%D8%A9_%D8%B4%D9%85%D8%B3_nrm9ok.jpg" class="client-image" />
            <!-- <img src="../../assets/logo/هيئة دعم الصادرات.png" class="client-image" /> -->
          </div>
        </swiper-slide>
       
         
          <swiper-slide role="group" aria-label="9 / 6" class="swiper-slide-next">
          <div class="slide-content">
            <img src="https://res.cloudinary.com/dqrorqtyj/image/upload/v1721133025/%D8%A8%D8%B1%D9%88_%D8%A7%D9%83%D8%A7%D8%AF%D9%8A%D9%85%D9%8A_bxaz3n.jpg" class="client-image" />
          </div>
        </swiper-slide>
          <swiper-slide role="group" aria-label="9 / 6" class="swiper-slide-next">
          <div class="slide-content">
            <img src="https://res.cloudinary.com/dqrorqtyj/image/upload/v1721133030/%D9%87%D9%8A%D8%A6%D8%A9_%D8%AF%D8%B9%D9%85_%D8%A7%D9%84%D8%B5%D8%A7%D8%AF%D8%B1%D8%A7%D8%AA_esc5b9.jpg" class="client-image" />
          </div>
        </swiper-slide>


<swiper-slide role="group" aria-label="9 / 6" class="swiper-slide-next">
          <div class="slide-content">
            <img src="https://res.cloudinary.com/dqrorqtyj/image/upload/v1721133183/Maktbt_alased_go0tuk.jpg" class="client-image" />
          </div>
        </swiper-slide>

         <swiper-slide role="group" aria-label="9 / 6" class="swiper-slide-next">
          <div class="slide-content">
            <img src="https://res.cloudinary.com/dqrorqtyj/image/upload/v1721133173/AKS_llizfi.jpg" class="client-image" />
          </div>
        </swiper-slide>
         <swiper-slide role="group" aria-label="9 / 6" class="swiper-slide-next">
          <div class="slide-content">
            <img src="https://res.cloudinary.com/dqrorqtyj/image/upload/v1721133183/park_Residence_ssqdeh.jpg" class="client-image" />
          </div>
        </swiper-slide>
         <swiper-slide role="group" aria-label="9 / 6" class="swiper-slide-next">
          <div class="slide-content">
            <img src="https://res.cloudinary.com/dqrorqtyj/image/upload/v1721133185/venture_vyszdj.jpg" class="client-image" />
          </div>
        </swiper-slide>
   <swiper-slide role="group" aria-label="9 / 6" class="swiper-slide-next">
          <div class="slide-content">
            <img src="https://res.cloudinary.com/dqrorqtyj/image/upload/v1721133204/%D8%A7%D9%84%D8%AA%D8%B1%D9%88%D9%8A%D8%A9_mofzcs.jpg" class="client-image" />
          </div>
        </swiper-slide>
           <swiper-slide role="group" aria-label="9 / 6" class="swiper-slide-next">
          <div class="slide-content">
            <img src="https://res.cloudinary.com/dqrorqtyj/image/upload/v1721133209/%D8%A3%D9%85%D8%A7%D9%84_eojv9t.png" class="client-image" />
            <img src="https://res.cloudinary.com/dqrorqtyj/image/upload/v1721133209/%D8%A3%D9%85%D8%A7%D9%84_eojv9t.png" class="client-image" />
          </div>
        </swiper-slide>
         <swiper-slide role="group" aria-label="9 / 6" class="swiper-slide-next">
          <div class="slide-content">
            <img src="https://res.cloudinary.com/dqrorqtyj/image/upload/v1721133209/%D9%84%D8%A7%D9%83%D8%AA%D9%8A%D9%85%D8%A7_uhviwh.jpg" class="client-image" />
          </div>
        </swiper-slide>
          <swiper-slide role="group" aria-label="9 / 6" class="swiper-slide-next">
          <div class="slide-content">
            <img src="https://res.cloudinary.com/dqrorqtyj/image/upload/v1721133221/%D9%84%D8%A7%D8%A8%D9%8A%D8%B1%D9%84%D8%A7_rxr5xn.jpg" class="client-image" />
          </div>
        </swiper-slide>

          <swiper-slide role="group" aria-label="9 / 6" class="swiper-slide-next">
          <div class="slide-content">
            <img src="https://res.cloudinary.com/dqrorqtyj/image/upload/v1721133218/%D9%83%D8%A7%D9%81%D9%8A%D9%8A%D9%86_ulqffx.png" class="client-image" />
          </div>
        </swiper-slide>
      </swiper-container>
    </div>
  </div>
</section>