<section id="hero" class="d-flex align-items-center" [@openClose] >
    <div class="container aos-init aos-animate" >
      <h1 i18n 
      class="animate__animated animate__slideInDown"> Welcome to <span class="text-uppercase" class="animate__animated animate__slideInDown" >advance solution
      </span>
    </h1>
      <h2 i18n
      class="animate__animated animate__fadeIn">We offer years of experience in the Information Systems industry, and can assist businesses of all sizes install and manage their network."</h2>
      <!-- <div class="d-flex" >
        <a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="venobox btn-watch-video vbox-item" data-vbtype="video" data-autoplay="true" i18n>Watch Video <i class="icofont-play-alt-2"></i></a>
      </div> -->
    </div>

  </section>