<section id="contact" class="contact" >
  <div class="container aos-init" data-aos="fade-up">
    <div class="section-title">
      <h2 i18n>Contact Us</h2>
      <p i18n>For the freedom you need to truly grow.</p>
    </div>

    <div class="row aos-init" data-aos="fade-up" >
      <div class="col-lg-6">
        <div class="info-box mb-4">
          <i>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-geo-alt-fill"
              viewBox="0 0 16 16"
            >
              <path
                d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10m0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6"
              />
            </svg>
          </i>
          <h3 i18n>Our Address</h3>
          <p i18n>Syria, Damascus, Teliani st.</p>
        </div>
      </div>

      <div class="col-lg-3 col-md-6">
        <div class="info-box mb-4">
          <i>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-envelope-fill"
              viewBox="0 0 16 16"
            >
              <path
                d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414zM0 4.697v7.104l5.803-3.558zM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586zm3.436-.586L16 11.801V4.697z"
              />
            </svg>
          </i>
          <h3 i18n>Email Us</h3>
          <a
           href="info@advance-solution.org">info-advance-solution.org</a>
        </div>
      </div>

      <div class="col-lg-3 col-md-6">
        <div class="info-box mb-4">
          <i>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-telephone-fill"
              viewBox="0 0 16 16"
            >
              <path
                fill-rule="evenodd"
                d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.68.68 0 0 0 .178.643l2.457 2.457a.68.68 0 0 0 .644.178l2.189-.547a1.75 1.75 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.6 18.6 0 0 1-7.01-4.42 18.6 18.6 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877z"
              />
            </svg>
          </i>
          <h3 i18n>Call Us</h3>
          <p i18n>+963 992 733 482</p>
        </div>
      </div>
    </div>

    <div class="row aos-init" data-aos="fade-up" data-aos-delay="100">
      <div class="col-lg-6">
        <div id="map" style="height: 100%; width: 100%"></div>
      </div>

      <div class="col-lg-6">
        <form
          [formGroup]="contactForm"
          #contactFormRef
          (ngSubmit)="onSubmit()"
          class="php-email-form"
        >
          <div class="form-row">
            <div class="col form-group">
              <!-- <input i18n-placeholder type="text" id="name" formControlName="name" class="form-control" placeholder="Your Name" matInput value="Disco party!" #message> -->
              <input
                i18n-placeholder
                id="name"
                formControlName="name"
                formControlName="name"
                class="form-control"
                placeholder="Your Name"
                matInput
                value="Disco party!"
                #message
              />
              <div
                *ngIf="
                  contactForm.get('name')?.invalid &&
                  contactForm.get('name')?.touched
                "
                style="color: rgb(247, 42, 42)"
                i18n
              >
                Name is required.
              </div>
            </div>
            <div class="col form-group">
              <!-- <input i18n-placeholder type="email" id="email" formControlName="email" class="form-control" placeholder="Your Email"
                matInput value="Dance" #action> -->
              <input
                i18n-placeholder
                id="email"
                formControlName="email"
                class="form-control"
                placeholder="Your Email"
                matInput
                value="Dance"
                #action
              />
              <div
                *ngIf="
                  contactForm.get('email')?.invalid &&
                  contactForm.get('email')?.touched
                "
                i18n
              >
                A valid email is required.
              </div>
            </div>
          </div>

          <div class="form-group">
            <!-- <textarea i18n-placeholder id="message" formControlName="message" class="form-control" rows="5" placeholder="Message"></textarea>
              <div class="validate" *ngIf="contactForm.get('message')?.invalid && contactForm.get('message')?.touched" i18n>
                Message is required.
              </div> -->

            <textarea
            i18n-placeholder
              id="message"
              formControlName="message"
              class="form-control"
              rows="3"
              placeholder="Message"
            ></textarea>
            <div
              *ngIf="
                contactForm.get('message')?.invalid &&
                contactForm.get('message')?.touched
              "
              i18n
            >
              Message is required.
            </div>
          </div>

          <div class="text-center" style="padding: inherit">

            
            <button
            style="cursor: pointer;"
              mat-stroked-button
              (click)="openSnackBar(message.value)"
              type="submit"
              [disabled]="contactForm.invalid"
              i18n
            >
              Send Message
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

<!-- <form [formGroup]="contactForm" #contactFormRef (ngSubmit)="onSubmit()">
    <label for="name">Name:</label>
    <input id="name" formControlName="name">
    <div *ngIf="contactForm.get('name')?.invalid && contactForm.get('name')?.touched" style="color: rgb(247, 42, 42);">
      Name is required.
    </div>
  
    <label for="email">Email:</label>
    <input id="email" formControlName="email">
    <div *ngIf="contactForm.get('email')?.invalid && contactForm.get('email')?.touched">
      A valid email is required.
    </div>
  
    <label for="message">Message:</label>
    <textarea id="message" formControlName="message"></textarea>
    <div *ngIf="contactForm.get('message')?.invalid && contactForm.get('message')?.touched">
      Message is required.
    </div>
  
    <button type="submit" [disabled]="contactForm.invalid">Send</button>
  </form> 
   -->
