<div [@fadeInOut]>
<app-header></app-header>
</div>
<div [@fadeInOut]>
    <app-hero></app-hero>
</div>
<div [@fadeInOut]>
<app-featured></app-featured>
</div>
<div [@fadeInOut]>
<app-about></app-about>
</div>
<div [@fadeInOut]>
<app-counts ></app-counts>
</div>
<div [@fadeInOut]>
<app-clients></app-clients>
</div>
<div [@fadeInOut]>
<app-services></app-services>
</div>
<div [@fadeInOut]>
<app-portfolio></app-portfolio>
</div>
<div [@fadeInOut]>
<app-products></app-products>
</div>
<div [@fadeInOut]>
<app-contact></app-contact>
</div>
<div [@fadeInOut]>
<app-footer></app-footer>
</div>
<div [@fadeInOut]>
<app-back-to-top></app-back-to-top>
</div>

  