 <section id="products" class="products" >


    <div class="container aos-init" data-aos="fade-up">

      <div class="section-title">
        <h2 i18n>PRODUCTS</h2>
    
      
      </div>
      <div class="container aos-init" data-aos="zoom-in">
        <div class="row">
      
  
          <div class="disc">
            <swiper-container
              dir="auto"
              autoplay="true"
              [autoplay]="{
                delay: 1000,
                disableOnInteraction: true
              }"
              space-between="7"
              slides-per-view="3"
              class="mySwiper2"
             
            >
              <swiper-slide *ngFor="let image of filteredImages">
                <div>
                  <img [src]="image.src" class="img-fluid" alt="Image" />
                </div>
              </swiper-slide>
            </swiper-container>
          </div>
        </div>
      </div>
    

 

    </div> 
</section>