 <section id="services" class="services">
  <div class="container aos-init" data-aos="fade-up">
    <div class="section-title">
      <h2 i18n>Services</h2>
      <h3 i18n>
        Check our
        <span style="color:  #36819a;">Services</span>
      </h3>
    </div>

    <div class="row" data-aos="zoom-in">
      <div class="grid" style="margin-bottom: 100px;">
        <div class="col">
          <div class="icon">
            <i>
              <span class="material-symbols-outlined"> camera_video </span></i
            >
          </div>
        </div>
        <div class="text" style="text-align: center; font-size: 20px">
          <h4>
            <a i18n>
              Security and surveillance cameras
            </a>
          </h4>
        </div>
      </div>
      <div class="grid" style="margin-bottom: 100px;">
        <div class="col">
          <div class="icon">
            <i> <span class="material-symbols-outlined"> hub </span></i>
          </div>
        </div>
        <div class="text" style="text-align: center; font-size: 20px">
          <h4>
            <a i18n>
              Network structure installing
            </a>
          </h4>
        </div>
      </div>

      <div class="grid" style="margin-bottom: 100px;">
        <div class="col">
          <div class="icon">
            <i>
              <span class="material-symbols-outlined"> phone_in_talk </span></i
            >
          </div>
        </div>
        <div class="text" style="text-align: center; font-size: 20px">
          <h4>
            <a i18n>
              After sales<br> Services
            </a>
          </h4>
        </div>
      </div>
      <div class="grid" style="margin-bottom: 100px;">
        <div class="col">
          <div class="icon">
            <i>
              <span class="material-symbols-outlined">
                settings_applications
              </span></i
            >
          </div>
        </div>
       <div class="text" style="text-align: center; font-size: 20px">
          <h4>
            <a i18n
              >Technical support
              <span class="d-block">
                within 24 hours
              </span></a
            >
          </h4>
        </div> 
      </div>

      <div class="grid" style="margin-bottom: 120px;">
        <div class="col">
          <div class="icon">
            <i>
              <span class="material-symbols-outlined">
                sync_saved_locally
              </span></i
            >
          </div>
        </div>
        <div class="text" style="text-align: center; font-size: 20px">
          <h4>
            <a i18n>
              Maintenance contracts
            </a>
          </h4>
        </div>
      </div>

      <div class="grid" style="margin-bottom: 100px;">
        <div class="col">
          <div class="icon">
            <i> <span class="material-symbols-outlined"> how_to_reg </span></i>
          </div>
        </div>
        <div class="text" style="text-align: center; font-size: 20px">
          <h4>
            <a i18n>
              Server
            </a>
          </h4>
        </div>
       
      </div>

      <div class="grid" style="margin-bottom: 100px;">
        <div class="col">
          <div class="icon">
            <i>
              <span class="material-symbols-outlined">
                integration_instructions
              </span></i
            >
          </div>
        </div>
        <div class="text" style="text-align: center; font-size: 20px">
          <h4>
            <a i18n>
              SoftWare Enginnering
            </a>
          </h4>
        </div>
      </div>
      <div class="grid" style="margin-bottom: 100px;">
        <div class="col">
          <div class="icon">
            <i> <span class="material-symbols-outlined"> solar_power </span></i>
          </div>
        </div>
        <div class="text" style="text-align: center; font-size: 20px">
          <h4>
            <a i18n>
              Solar Energy
            </a>
          </h4>
        </div>
      </div>
    </div>
  </div>
</section> 
<!-- <section id="services" class="services">
  <div class="ant-row ant-row-center">
    <div class="ant-col ant-col-19">
      <div class="ant-row client-container" style="margin-left: -30px; margin-right: -30px; row-gap: 60px;">
      <div class="ant-col ant-col-8 ant-col-md-6 ant-col-lg-4" style="padding-left: 30px;padding-right: 30px;">
      <img src="../../assets/logo/AKS.png"></div>
      <div class="ant-col ant-col-8 ant-col-md-6 ant-col-lg-4" style="padding-left: 30px;padding-right: 30px;">
        <img src="../../assets/logo/AKS.png"></div>
        <div class="ant-col ant-col-8 ant-col-md-6 ant-col-lg-4" style="padding-left: 30px;padding-right: 30px;">
          <img src="../../assets/logo/AKS.png"></div>
      </div>
    </div>
  </div>
</section> -->