
<section id="featured-services" class="featured-services">
    <div class="container aos-init aos-animate" data-aos="fade-up">

      <div class="row">
        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
          <div class="icon-box aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
              <div class="icon">
              <span class="material-symbols-outlined"  style=" font-size: 42px;
            
              padding: 8px;">
                database
                </span></div>
            <h4 class="title"><a >EFFICIENCY</a></h4>
            <p class="description">By helping you identify the <br>services you need, and only charging for what you use,
               we enable you to save money.</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
          <div class="icon-box aos-init aos-animate" data-aos="fade-up" data-aos-delay="200">
            <div class="icon">
            <span class="material-symbols-outlined" style=" font-size: 42px;
            
            padding: 8px;">
              speed
              </span>
              </div>
            <h4 class="title"><a >DEDICATION</a></h4>
            <p class="description">You’re more than just a number to us. We value each of our clients and take the time to nurture relationships.</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
          <div class="icon-box aos-init aos-animate" data-aos="fade-up" data-aos-delay="300">
            <div class="icon">
              <span class="material-symbols-outlined" style=" font-size: 42px;
              
              padding: 8px;">
                speed
                </span>
                </div>
            <h4 class="title"><a >STRATEGY</a></h4>
            <p class="description">We’ll make sure your computer network works the way you want it to; not only for today and tomorrow, but that it serves you in the future too.</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
          <div class="icon-box aos-init aos-animate" data-aos="fade-up" data-aos-delay="400">
            <div class="icon">
              <span class="material-symbols-outlined"  style=" font-size: 42px;
              
              padding: 8px;">
                chat_info
                </span>
                </div>
            
              
            <h4 class="title "><a >WHY TRUST US</a></h4>
            <p class="description">We guarantee that we will get things done right the first time and to your complete satisfaction.</p>
          </div>
        </div>

      </div>

    </div>
  </section>
